<h1 class="auth-title">Authorization required</h1>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p class="auth-subtitle">Please authorize with a google account first:</p>

<p class="auth-proceed"><a href="<%= @login_url %>"><i class="fa fa-sign-in"></i>
 Proceed</a></p>