
div.small-print {
  font-size: 1em;
  text-align: center;
}

#global-alers div {
  margin: 0 20%;
  text-align: center;
}

#global-header {
  float: right;
}

#global-footer {
  margin-top: 10px;
}

#global-alers div.notice {
  background-color: #bbb;
}

#global-alers div.alert {
  background-color: #ddd;
}

div.notice {
  font-weight: bold;
}
#auth-title {
	text-align:center;
	margin-top: 5%;
	color: #2BBD39;
}