// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth-title {
	text-align:center;
	margin-top: 5%;
	color: #2BBD39;
}

.auth-subtitle {
	text-align:center;	
	color: #2BBD39;
}


.auth-proceed {
	text-align:center;	
	color: #2BBD39;
	margin-top: 5%;
	font-size:1.5em;
}