    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <div class="user-info-wrapper"> 
                        <div class="user-info-profile-image">
                            
                            <%= image_tag 'img/profile-1.jpg', alt: '', width: 65, height: 65 %>
                        </div>
                        <div class="user-info">
                            <div class="user-welcome">Welcome</div>
                            <div class="username">User <strong>Name</strong></div>
                            <div class="status">Status <span class="status-now"><i class="fa fa-circle text-emerald fa"></i> Online</span> </div>
                        </div>
                    </div>
                </li>
                
                <li>
                    <a href="real_time_stats" class="active"><i class="fa fa-dashboard fa-fw fa-3x"></i>Real Time Stats</a>                    
                </li>

                <li>
                    <a href="garage_flooring"><i class="fa fa-dashboard fa-fw fa-3x"></i>Garage Flooring</a>
                </li>

                <li>
                    <a href="garage_cabinetry"><i class="fa fa-dashboard fa-fw fa-3x"></i>Garage Cabinetry</a>
                </li>

                <li>
                    <a href="4.html"><i class="fa fa-dashboard fa-fw fa-3x"></i>In Home</a>
                </li>
                 
                <li>
                    <a href="5.html"><i class="fa fa-dashboard fa-fw fa-3x"></i>All Campaigns</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-phone fa-fw fa-3x"></i> Contact Us</a>
                </li>
                 
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </nav>