<div id="wrapper">            

    <%= render "nav_bar" %> 

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header text-asbestos">"NORTHERN VIRGINIA" All Campaigns</h3>
            </div>
        </div>              

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        CAMPAIGNS<br> <b>05 - Carter - Norther Virginia - Garage<br>
                            05 - Carter - Norther Virginia - In Home</b> 
                    </div>         
                    <%= render "report_body" %>
                </div>
            </div>                    
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Top 10 Performing Keywords All Time  - All Campaigns
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>